* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7fb;
    font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
}

.nvbar {
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .05);
    border-bottom: 4px solid #e9e7e7;
}

.logo-img {
    height: 10vh;
    width: auto;
    background: transparent;
    object-fit: contain;
}

.nav-link {
    color: black;
}


.nav-link:hover {
    color: #7b3cff;
}

h1 {
    margin-top: 60px;
    margin-left: 30px;
}

.card-img {
    width: 100%;
    margin-top: 3px;
    height: 23vh;
    object-fit: cover;
}

.card-brand {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(123, 60, 255, 0.8);
    align-self: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    display: inline !important;
    width: auto !important;
}

.card-price {
    color: rgb(63, 63, 63);
    font-size: x-large;
}

.card {

    width: 80%;
    margin: auto;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    background-color: #e3e3eb;
    margin-top: 70px;
}

.card-name a {
    color: black;
    text-decoration: none;
}

.card-name {
    height: 12vh;
}

.cards {
    margin-left: 50px;
    margin-right: 50px;
}

.confusion-remover {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compare-navigation-des {
    width: 54vw;
    text-align: center;
    margin-top: 25vh;
}

.compare-btn {
    background-color: #7b3cff;
    color: white;
    margin-top: 20px;
    margin-bottom: 25vh;
}

.compare-btn:hover {
    color: #7b3cff;
    border: 2px solid #7b3cff;
}

.footer {
    background: #1A0B2E;
    height: auto;
}

.footer-content {
    color: white;
    text-align: center;
    margin-top: 20px;
}