* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7fb;
    font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
}

/* nav bar started */
.nvbar {
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .05);
}

.logo-img {
    height: 10vh;
    width: auto;
    background: transparent;
    object-fit: contain;
}

.nav-link {
    color: black;
}


.nav-link:hover {
    color: #7b3cff;
}

.content {

    height: 130vh;
    background-image: url(../image/contactimg-lanczos3.jpg);
    padding: 60px;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;

}


.shop-info {
    width: 70%;
    margin: auto;
    color: white;
    font-size: 20px;
    margin-top: 20vh;
    margin-right: 0;


}

.shop-location {
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
    width: 80%;
    margin-left: 0;
    border-radius: 10px;

    border: 20px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 6px;
    color: white;
    background-color: #7b3cff;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.footer {
    background: #1A0B2E;
    height: auto;
}

.footer-content {
    color: white;
    text-align: center;
    margin-top: 20px;
}