* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7fb;
    font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
}

/* nav bar started */
.nvbar {
     background-color: #fff;
     box-shadow: 0 4px 14px rgba(0, 0, 0, .05);
}

.logo-img {
    height: 10vh;
    width: auto;
    background: transparent;
    object-fit: contain;
}

.nav-link {
    color: black;
}


.nav-link:hover {
    color: #7b3cff;
}

.comparision-page {
    width: 80%;
    margin: 8vh auto;
    height: auto;
    background-color: white;
    padding: 60px;
}

.page1,
.page2 {
    background-color: #f7f7fb;
    padding: 40px;
    border: 2px solid #e9e7e7;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px
}

.name,
.name2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.image,
.image2 {
    background-color: white;
    width: 20vw;
    height: 30vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.details,
.details2 {
    margin-top: 15px;
}

.footer {

    margin-top: 12vh;
    background: #2a2a36;
    height: auto;
}

.footer-content {
    color: white;
    text-align: center;
    margin-top: 20px;
}